body{
    background-color: #9aa9b1;
}
#wrapper {
    width: 600px;
    margin: auto;
}

.wrapper-rooms {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px -15px;
    padding: 15px;
}

.wrapper-rooms > div {
    margin:0 15px;
}

#wrapperListRoom {
    min-height: 20px;
    background-color: aliceblue;
    flex: 3;
}
#roomCurent {
    padding: 5px;
    background-color: white;
    border-radius: 2px;
    flex: 1;
    min-height: 10px;
}

.wrapper-sendMessage {
    
}